#news-grid {
  display: grid;
  gap: 30px;
  grid-auto-rows: 0px;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  height: max-content;
  overflow: hidden;
}

@media (max-width: 600px) {
  #news-grid {
    display: none;
  }

  #article-list > h1 {
    display: none;
  }
}

#news-grid .news-grid-column {
  align-items: stretch;
  display: flex;
  gap: 16px;
  flex-direction: column;
  max-height: 70vh;
  overflow: hidden;
}

#news-grid .news-grid-column > article {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
}

#news-grid .news-grid-column > article > img {
}

#news-grid .news-grid-column > article > h4 {
  margin: 0;
}

#news-grid .news-grid-column > article > span {
  color: var(--text-muted);
  display: -webkit-box;
  font-size: 14px;
  overflow: hidden;
  text-align: justify;
  text-overflow: -o-ellipsis-lastline;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

#news-grid .news-grid-column > article.emphasis > span {
  font-size: 24px;
  font-style: italic;
  -webkit-line-clamp: 9;
  text-align: start;
}

/* List */

#article-list-empty {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin-top: 24px;  
}

#article-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
}

#article-list > article {
  cursor: pointer;
  display: flex;
}

@media (max-width: 900px) {
  #article-list > article {
    flex-direction: column;
  }

  #article-list > article > img {
    min-width: 100%;
  }
}

#article-list > article > img {
  width: min(400px, 40%);
  aspect-ratio: 3/2;
  object-fit: cover;
}

#article-list > article > .info {
  display: flex;
  flex-direction: column;
  margin: 12px 24px;
  overflow: hidden;
}

#article-list > article > .info > :first-child {
  margin-bottom: 8px;
}

#article-list > article > .info > small {
  color: var(--text-muted);
  margin-bottom: 24px;
}